{% extends "base.html" %}

{% block content %}
<main class="container mx-auto px-4 py-8">
    <!-- Product list -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-8">
        {% for product in products %}
        <div class="p-4 flex flex-col h-full px-0 mx-0">
            <a href="{% url 'product_detail' product.id %}" class="block">
                <img src="{{ product.image }}" alt="{{ product.name }}" class="w-full sm:w-48 md:w-64 lg:w-80 h-auto object-contain">
            </a>
            <div class="p-4 flex-grow">
                <a href="{% url 'product_detail' product.id %}" class="text-xl font-semibold text-gray-800 hover:text-blue-500">
                    {{ product.name }}
                </a>
                <p class="text-gray-600">{{ product.description }}</p>
                <p class="text-lg font-bold text-gray-900 mt-2 convert-to-persian">{{ product.price }} تومان</p>
            </div>
            <button class="bg-blue-500 text-white px-4 py-2 mt-2 rounded-lg hover:bg-blue-600 text-sm">
                افزودن به سبد خرید
            </button>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
